* {
  margin: 0px;
}

@font-face {
  font-family: "Comforta";
  src: url('font/Comfortaa-Bold.ttf');
}

body {
  width: 100%;
  background-color: rgb(249, 164, 194);
  font-family: "Comforta";
}

p {
  color: rgb(225, 64, 137);
}

#Home {
  background-color: white;
  padding: 20px 40px 20px 40px;
  color: rgb(176, 70, 118);
  border-radius: 100px;
  box-shadow: rgba(135, 55, 83, 0.374) 0px 5px 10px 5px;
}

#Sobre {
  display: block;
  justify-items: right;
  background-color: white;
  padding: 20px 40px 20px 40px;
  color: rgb(176, 70, 118);
  border-radius: 100px;
  box-shadow: rgba(135, 55, 83, 0.374) 0px 5px 10px 5px;
}

#Conteudo {
  background-image: url('img/backgroung.jpg');
  background-repeat: repeat;
  background-size: 200px;
  padding: 30px;
  height: fit-content;
}

#Menu {
  display: flex;
  font-size: 15px;
  text-align: center;
  border-radius: 30px;
  justify-content: center;
}

#Menu a {
  text-decoration: none;
  color: rgb(192, 56, 117);
}

#Menu li {
  display: flex;
  list-style: none;
  border-radius: 100px;
  padding: 10px;
  margin: 5px;
  justify-content: center;
  width: 100px;
  background-color: white;
  box-shadow: rgba(135, 55, 83, 0.374) 0px 5px 10px 0px;
}

#Cabecalho {
  display: flex;
  background-color: rgb(249, 164, 194);
  align-items: center;
  padding: 10px;
  justify-content: space-around;
}

#Rodape {
  display: block;
  background-color: rgb(249, 164, 194);
  justify-items: center;
  color: rgb(192, 56, 117);
  padding: 10px;
}

#Galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  justify-items: center;
  align-items: center;
  padding: 30px;
  width: auto;
  height: fit-content;
}

#foto {
  justify-content: center;
  align-items: center;
  width: 70%;
  height: auto;
}

#Logo {
  width: 100px;
  height: auto;
}

#Contato {
  display: flex;
  justify-content: space-between;
}

input {
  width: 30vw;
  color: rgb(176, 70, 118);
  margin: 5px;
  height: 20px;
}

#Enviar {
  height: 25px;
  width: 30.4vw;
  color: rgb(176, 70, 118);
  margin: 5px;
}

textarea {
  width: 30vw;
  height: 10vw;
  color: rgb(176, 70, 118);
  margin: 5px;
}

label {
  color: rgb(176, 70, 118);
  margin: 5px;
}

form {
  background-color: rgb(244, 228, 233);
  padding: 20px;
  color: rgb(176, 70, 118);
  border-radius: 30px;
  box-shadow: rgba(135, 55, 83, 0.374) 0px 5px 10px 5px;
}

#Imagem {
  border: 10px rgb(249, 164, 194) solid;
  border-radius: 50px;
  width: 26vw;
  box-shadow: rgba(135, 55, 83, 0.374) 0px 5px 10px 5px;
}

#Foto {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

iframe {
  box-shadow: rgba(135, 55, 83, 0.374) 0px 5px 10px 5px;
  border-radius: 30px;
}