* {
  margin: 0px;
}

body {
  width: 100%;
  background-color: blueviolet;
}

#Home {
  background-color: aquamarine;
  padding: 20px 40px 20px 40px;
  color: orange;
  border-radius: 100px;
}

#Home2 {
  height: 500px;
}

#Sobre {
  background-color: brown;
  padding: 20px 40px 20px 40px;
  color: aliceblue;
  border-radius: 100px;
}

#Sobre2 {
  height: 500px;
}

#Conteudo {
  background-color: green;
  padding: 30px;
  height: fit-content;
}

#Menu {
  display: flex;
  font-size: 20px;
  text-align: center;
  border-radius: 30px;
  margin: 10px;
  justify-content: center;
  width: fit-content;
  width: auto;
  height: auto;
}

#Menu a {
  text-decoration: none;
  color: black;
}

#Menu li {
  display: flex;
  list-style: none;
  background-color: aliceblue;
  border-radius: 100px;
  padding: 20px;
  margin: 5px;
  justify-content: center;
  width: 100px;
}

#Cabecalho {
  display: flex;
  background-color: brown;
  align-items: center;
  padding: 10px 50px 10px 100px;
  justify-content: space-between;
}

#Rodape {
  background-color: aqua;
}

#Galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  justify-items: center;
  align-items: center;
  padding: 30px;
}

#foto {
  justify-content: center;
  align-items: center;
  width: 70%;
  height: auto;
}

#Logo {
  grid-column: 2;
  display: flex;
  justify-self: left;
  width: 180px;
  height: auto;
}

#Contato {
  display: flex;
}

#Bloco1 {}

#Bloco2 {}